@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

@await Component.InvokeAsync("_HomeHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_HomeHeaderComponentPartial")

    <main>

        @await Component.InvokeAsync("_HomeSliderComponentPartial")

        @await Component.InvokeAsync("_BookingAreaComponentPartial")

        @await Component.InvokeAsync("_HomeFeatureSectionComponentPartial")

        @await Component.InvokeAsync("_HomeOfferDealComponentPartial")

        @await Component.InvokeAsync("_HomeDestinationOfferComponentPartial")

        @await Component.InvokeAsync("_HomePopularDestinationsComponentPartial")

        @await Component.InvokeAsync("_HomeServiceComponentPartial")

        @await Component.InvokeAsync("_HomeFlightStatusComponentPartial")

        @await Component.InvokeAsync("_HomeFrequantlyAskedQuestionComponentPartial")

    </main>

    @await Component.InvokeAsync("_HomeFooterComponentPartial")

    @await Component.InvokeAsync("_HomeScriptsComponentPartial")

</body>
</html>