@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

@RenderSection("Styles", false)

<body>

    @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

    @await Component.InvokeAsync("_AdminLayoutTopbarComponentPartial")

    <main class="main-content" id="main-content">

        @RenderBody()
    </main>

    <!-- Toast Container -->
    <div class="toast-container-custom" id="toastContainer"></div>

    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")

    @RenderSection("Scripts", false)

</body>
</html>

